body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}
.navbar {
  background-color: #5c8084;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1); /* subtle shadow for depth */
}
.icon-most-right {
  margin-right: -100px;
}
.has-text-eed68e {
  background-color: #eed68e;
}
.has-margin-bottom-1 {
  margin-bottom: -1px;
}
.tile .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.button {
  background-color: rgb(54, 54, 54);
  color: white;
}
.has-less-padding{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.has-less-margin{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.no-side-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.has-negative-margin{
    margin-left: -3px !important;
    margin-right: -4px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.card-footer {
       border-top: none;
       margin-bottom: 10px;
   }
.copy-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.card-header {
  position: relative;
}
.table-container {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #363636;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: none;
}
.table {
  background-color: white;
  padding: 10px 10px;
}
.table.is-narrow td, .table.is-narrow th {
  padding: 0.1em 0.1em;
}
.siret-checkbox {
    transform: scale(1.5);
    margin-right: 1em;
}
.progress-bars {
  display: flex;
  height: 6rem;
  border-radius: 6px;
  overflow: hidden;
  font-size: 1rem;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.25rem;
  font-size: 1rem;
  white-space: normal;
  overflow: hidden;
}
.progress-text {
  color: #e3f0f1;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .progress-text {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 0.75rem;
  }
}
.toggle-icon {
  width: 45px;
  height: 45px;
  margin-right: 23px;
  margin-top: 3px;
}
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-card-bg: #f5f5f5;
  --color-card-text: #333333;
  --color-item-bg: #D3D3D3;
  --color-item-text: #000000;
  --color-title-text: #000000;
  --color-content-text: #000000;
  --color-header-title-text: #000000;
  --color-label-text: #000000;
  --color-label-text-strong: #000000;
}
[data-theme="dark"] {
  --color-bg: #41464d;
  --color-text: #ffffff;
  --color-card-bg: #ffffff;
  --color-card-text: #f5f5f5;
  --color-item-bg: #5C5470;
  --color-item-text: #D3D3D3;
  --color-title-text: #D3D3D3;
  --color-content-text: #000000;
  --color-header-title-text: #D3D3D3;
  --color-label-text: #D3D3D3;
  --color-label-text-strong: #D3D3D3;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.hero-body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.card {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.column.card.has-background-grey-lighter {
  background-color: var(--color-item-bg);
  color: var(--color-item-text);
}
.title-toggle, .card-header-title {
  color: var(--color-title-text);
}
.label-text {
  color: var(--color-label-text);
}
.label-text strong {
  color: var(--color-label-text-strong);
}
.content {
  color: var(--color-content-text);
}
.white-borders * {
    border-color: #ffffff0d !important;
    border-width: 0.2px !important;
}
.warning.box {
    color: white;
}
.card .has-less-padding .has-less-margin {
  margin-top: auto;
}
.small-text {
  font-size: 0.9rem;
}
.sidebar-text {
  margin-left: 20px;
}
.bottom-links {
  margin-bottom: 0;
  border-top-width: 0.1px;
  border-top-style: solid;
  padding-top: 10px;
  margin-top: 10px;
}
.custom-ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1em;
}
.scrollable-menu {
  max-height: 700px;
  overflow-y: auto;
}

.rounded-5px {
    border-radius: 5px;
}
.divider {
    border-top: 2px solid #dbdbdb;
    margin: 1rem 0;
}

/* Tooltips formatting */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 300px;
  max-width: 700px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip below the icon */
  position: absolute;
  z-index: 10000;
  top: 30px;
  left: 50%;
  transform: translateX(-100%);

  opacity: 0; /* Start transparent */
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.custom-map-box {
    height: 800px;
}

.map-iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
  .custom-map-box {
    padding-left: 0;
    padding-right: 0;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: calc(100% + 3rem);
    height: 600px;
  }
}
/* Override to make the ::after pseudo-element ineffective */
section.section.is-title-bar ul li::after {
  content: none !important;
}
/* Set non-active tabs to normal font weight */
section.section.is-title-bar .tabs ul li a {
  font-weight: normal;
  font-size: 1rem;
}
/* Set the active tab to bold font weight */
section.section.is-title-bar .tabs ul li.is-active a {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
@media screen {
  .section {
    padding: 0rem 3rem;
  }
}
.is-dark {
  background-color: #363636;
}
.has-background-dark {
  background-color: #363636;
}
.has-text-light {
  color: #f5f5f5;
}
.tabs ul li.is-active.has-background-dark {
  background-color: black;
}

/* Style for the navbar items */
.navbar-item {
  border-top: 1px solid #4a4a4a; /* Add a border to each item */
  color: #333; /* Text color */
}

/* The last navbar item shouldn't have a border at the bottom */
.navbar-item:first-child {
  border-top: none;
}

.greenish {
  background-color: #5c8084;
  color: white;
}